.bggreen{
    background-color: rgba(0,150,136,1);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

body
{
    background-color: rgba(223,223,223,1);
    
}

.logo
{
    border-radius: 50px;
}
.bggrey
{
    display: flex;
    width: 90vw;
    height: 85vh;
    background-color: white;
    
    overflow: hidden;
    margin-top: 35rem;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 50vh;
    width: 35vw;  
    
}

header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #DDD;
}

.msg{
    padding-left: 24rem;
}


.search{
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 0.1rem solid #e9edef;
}

.search img{
    width: 20px;
    margin-right: 10px;
}

.search input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color:#f0f2f5;
    font-size: 12px;
    margin:0;
    padding:1rem;
    border-radius: 15px;
  
}

.chat-list {
    flex-grow: 1;
    overflow-y: auto;
}
.chat-item{
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid #e9edef;
    cursor: pointer;
    padding: 0.5rem;
}

.chat-item img{
    width: 5vw;
    height: 8vh;
    border-radius: 50%;
    padding-left: 0.5rem;

}

.chat-info{
    flex-grow: 1;
    margin-left: 1rem;
    display: inline-block;
    align-items: center;
}

.chat-info h4{
    margin: 0;
    font-size: 16px;
}
.chat-info .time {
    font-size: 12px;
    color: gray;
    float: right;
}

.typing {
    color: #06D755;
    font-weight: bold;
}


.chat-window {
    display: flex;
    flex-direction: column;
    background-color: #e1d9d6;
    width: 70%;
    height: 100%; /* Ensure it takes full height */
    position: relative;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #DDD;
}

.chat-profile-pic{
    width: 5vw;
    height: 8vh;
    border-radius: 50%;
}

.chat-header h4{
    margin: 1rem;
}
.chat-body
{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 72.5%;

}

.message-date{
    background-color:  #E1F2FB;
    border-radius: 20%;
    color: #75858D;
    margin: 0 auto;
    padding: 5px 10px;
    width: auto;
    display: inline-block;
    text-align: center;
    transform: translate(+600%,+50%);

}

.message{
    
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
    
}

.received {
    background-color: white;  /* White background for received messages */
    color: #000;               /* Black text color */
    align-self: flex-start;  
    margin: 2rem;  /* Align received messages to the left */
}

/* Sent Messages */
.sent {
    background-color: rgba(217, 253, 211, 1);  /* Light green background for sent messages */
    float: right;;     
         /* Align sent messages to the right */
}
.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    /* margin-top: 300px; */
    background-color: #F1F1F1;
    border-top: 1px solid #DDD;
    bottom: 0;
    
   
}

.emoji-icon, .mic-icon {
    width: 25px;
    cursor: pointer;
}

.message-input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 14px;
    outline: none;
}